{% extends 'base.html' %}

{% block content %} 

{% if response %}
    <pre>
        <code class="line-numbers language-{{linguagem}}">
        {{response}}
        </code>
    </pre>
    <br>
    {% else %}
    <pre>
        <code class="line-numbers language-python">
        if code == None:
            print("Sem codigos para exibir!")
        else:
            print(code)
        </code>
    </pre>
    <br>
{% endif %}

{% with text_area_placeholder="Digite a instrução para que a IA crie o código!" view_url="criacao" %}
    {% include "code_form.html" %}
{% endwith %}

{% endblock content %}

